<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
            body {
  background: linear-gradient(180deg, rgba(255, 235, 205, 1) 0%, rgba(255, 182, 193, 1) 50%, rgba(255, 160, 122, 1) 100%);
  color: #4b4b4b; /* Neutral text color for readability */
  font-family: 'Arial', sans-serif; /* Modern font for a clean look */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

    </style>
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6>    About Fida Khanum:  Your Web and ML developer
</h6>
<h5>Meet the Developer</h5>

<p>Hey there, I'm <strong>Fida Khanum</strong>,   an aspring <b>web developer</b> from Dayananda Sagar Academy of Technology and Management (DSATM) , fond of integrating AI/ML features in my websites,I am passionate about harnessing the power of technology to make a positive impact on people's lives. Allow me to share a bit about my journey.
</p>
<h5>My Expertise
</h5>
<p>With a strong academic background in computer science, I embarked on a journey that has taken me across the globe, working on diverse and innovative projects.
</p>
<h5>A Commitment to Excellence
</h5>
<p>My work is driven by a commitment to excellence and a belief that technology should be accessible and beneficial to everyone. Whether it's developing predictive models, creating intelligent algorithms, or designing user-friendly interfaces, I strive for solutions that are both cutting-edge and user-centric.
</p>
<h5>Passion for Health Tech
</h5>
<p>The development of Health tracker represents a convergence of my passion for AI and my dedication to improving healthcare accessibility. I believe that AI has the potential to transform the way we approach healthcare, making it more personalized and informative. This platform is a testament to that vision.
</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>